/*text */

h1{
    font-size: 25px;
    color: #5616;
    text-align: center;
    text-decoration: line-through;
    text-transform: lowercase;
}

p{
    /*text-align: center;*/
    text-indent: 100px;
    text-transform: capitalize;
    letter-spacing:  5px;

}


a{
    text-decoration: none;
    text-transform: uppercase;
    word-spacing: 5px;
}